

.course-author {
    color: white;

    .container {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        .img-div {
            width: 100%;

            img {
                width: 100%;

                @include lg {
                    height: 568px;
                    width: 526px;
                }
            }
        }

        .content-box {
            background-color: $gray-900;
            padding: 3rem 1rem;

            @include md {
                padding: 3rem 3rem;
            }

            @include lg {
                height: 568px;
            }

            h3 {
                color: white;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                @include md {
                    flex-direction: row;
                }
            }
        }
    }
}
