.courses-grid {
    margin-bottom: 3rem;

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "header header" "dropdown searchbox" "grid grid";
        row-gap: 1rem;

        @include lg {
            grid-template-columns: 1fr auto auto;
            grid-template-areas:
                "header dropdown searchbox" "grid grid grid";
            align-items: center;
        }

        h1 {
            grid-area: header;

            @include md {
                grid-area: header;
            }

            @include lg {
                grid-area: header;
            }
        }

        .view-filter {
            grid-area: dropdown;
            margin-right: 0.5rem;

            @include md {
                grid-area: dropdown;
            }

            @include lg {
                grid-area: dropdown;
                width: 240px;
            }
        }

        .search-box {
            position: relative;
            grid-area: searchbox;
            padding: 0 0;
            margin: 0 0;

            input {
                width: 98%;
                margin-left: 0.5rem;

                @include lg {
                    width: 240px;
                }
            }

            button {
                position: absolute;
                top: 13px;
                right: 1.3rem;
                border: none;
                background-color: transparent;
                margin: 0;
                padding: 0 0;

                i {
                    color: $gray-800;
                }
            }

            @include lg {
                grid-area: searchbox;
            }
        }

        .grid {
            grid-area: grid;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
}
