.sign-in, .sign-up {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .content-box {


            h1 {
            }

            p {
            }

            #sign-in-form, #sign-up-form {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                max-width: 530px;
                row-gap: 1rem;

                .input-div {

                    input {
                        width: 100%;
                    }

                    label {
                        display: block;
                    }
                }
            }

            #sign-up-form {

                @include md {
                    .user-name {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .first-name-input, .last-name-input {
                        width: 48%;
                    }
                }
            }
        }

        .bottom {
            text-align: center;

            .line-top {
                border-top: 1px solid $gray-300;
                max-width: 530px;
            }

            p {
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}
