@model CoursesIndexViewModel



<section class="courses-grid">

    <div class="container">

        <h1>Courses</h1>

        <form method="post" asp-action="Index" asp-controller="Courses">

            <select asp-for="@Model.CourseCategory" class="view-filter" onchange="this.form.submit()">

                <option value="">All Categories</option>

                @{
                    foreach (var category in Model.Categories)
                    {
                        <option value="@category.Name">@category.Name</option>
                    }
                }

            </select>

            @* <button type="submit">Filter</button> *@

        </form>

        <div class="search-box">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input placeholder="Search" />
        </div>
        


        <div class="grid">
            @foreach (var course in Model.Courses)
            {
                @await Html.PartialAsync("~/Views/Courses/Components/_CourseBoxPartial.cshtml", course )
            }
        </div>

    </div>

    <script>
        const select = document.getElementById('courseCategorySelect');
        const hiddenInput = document.getElementById('courseCategoryHidden');

        select.addEventListener('change', () => {
            hiddenInput.value = select.value;
        });
    </script>


</section>