<section class="sign-up">

    <div class="container">

        <div class="content-box">

            <h1>Create Account</h1>

            <p>Already have an account?  <a>Sign in here.</a></p>

            <form name="sign-up-form" id="sign-up-form">

                <div class="user-name">
                    <div class="input-div first-name-input">
                        <label for="sign-up-form-first-name">First name</label>
                        <input id="sign-up-form-first-name" placeholder="Enter your first name" />
                    </div>

                    <div class="input-div last-name-input">
                        <label for="sign-up-form-last-name">Last name</label>
                        <input id="sign-up-form-last-name" placeholder="Enter your last name" />
                    </div>
                </div>

                <div class="input-div email-input">
                    <label for="sign-up-form-email">Email address</label>
                    <input id="sign-up-form-email" placeholder="Enter your email address" />
                </div>

                <div class="input-div password-input">
                    <label for="sign-up-form-password">Password</label>
                    <input id="sign-up-form-password" placeholder="********" type="password" />
                </div>

                <div class="input-div password-confirm-input">
                    <label for="sign-up-form-password-confirm">Confirm password</label>
                    <input id="sign-up-form-password-confirm" placeholder="********" type="password" />
                </div>

                <div class="checkbox-div">
                    <input type="checkbox" id="sign-up-form-terms" />
                    <label for="sign-up-form-terms">I agree to the <a>Terms & Conditions</a></label>
                </div>

                <button class="btn-theme">Sign up</button>

            </form>

        </div>

    </div>

</section>


