@model AccountViewModel

<div class="account-menu">

    <div class="account-details">

        @if (Model.ProfilePicture.ImageUrl != null)
        {
            <div class="img-div">
                <img src="@Model.ProfilePicture.ImageUrl" alt="" />

            </div>
        }
        else
        {
            <div class="img-div">
                <img src="~/images/icons/no-profile-picture.svg" alt="" />
            </div>
        }

        <h5 class="user-name">@Model?.FirstName @Model?.LastName</h5>
        <p class="user-email">@Model?.Email</p>
    </div>

    <div class="account-nav">

        <a asp-controller="Account" asp-action="AccountDetails" class="account-nav-link"><i class="fa-solid fa-gear"></i>  Account Details</a>
        <a asp-controller="Account" asp-action="AccountSecurity" class="account-nav-link"><i class="fa-solid fa-lock"></i> Security</a>
        <a asp-controller="Account" asp-action="SavedItems" class="account-nav-link"><i class="fa-solid fa-bookmark"></i> Saved Courses</a>
        <a asp-controller="Auth" asp-action="SignOut" class="account-nav-link"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
    
    </div>

</div>




