<section class="newsletter">

    <div class="container">

        <div class="head">

            <h2 class="h1">Don't Want to Miss Anything?</h2>
            <img src="~/images/homepage-arrows.png" />

        </div>

        <div class="mid">

            <p class="h5">Sign up fo<br/> Newsletters</p>

            <div class="checkbox">
                <input id="checkbox-daily-newsletter" type="checkbox" />
                <label for="checkbox-daily-newsletter">Daily Newsletter</label>
            </div>

            <div class="checkbox">
                <input id="checkbox-advertising-updates" type="checkbox" />
                <label for="checkbox-advertising-updates">Advertising Updates</label>
            </div>

            <div class="checkbox">
                <input id="checkbox-week-in-review" type="checkbox" />
                <label for="checkbox-week-in-review">Week in Review</label>
            </div>

            <div class="checkbox">
                <input id="checkbox-event-updates" type="checkbox" />
                <label for="checkbox-event-updates">Event Updates</label>
            </div>

            <div class="checkbox">
                <input id="checkbox-startups-weekly" type="checkbox" />
                <label for="checkbox-startups-weekly">Startups Weekly</label>
            </div>

            <div class="checkbox">
                <input id="checkbox-podcasts" type="checkbox" />
                <label for="checkbox-podcasts">Podcasts</label>
            </div>

        </div>

        <div class="bottom">

            <form class="email-signup">

                <div class="registration">

                    <div class="email-input">

                        <i class="fa-regular fa-envelope"></i>

                        <input id="email-input-newsletter" placeholder="Your Email" />

                    </div>

                    <p class="text-xs">* Yes, I agree to the terms and privacy policy.</p>

                </div>

                <button class="btn-theme">Subscribe *</button>

            </form>

        </div>

    </div>

</section>